@charset "UTF-8";
/* CSS Document */
/*ページ全体ーーーーーーーーーーーーーーーーーー*/
html, body { height: 100%; }
body{
	background-color:rgba(5,68,90,1.0);
	color: #FFFFFF;
	text-align:center;
}

.main {
    width:1400px;
    height:700px;
	top:5px;
	text-align:center;
	margin-right: auto;
    margin-left: auto;
	}

.name{
	width:450px;
	height:330px;
	margin:2px 2px 2px 2px;
	float:left;
	background-color: rgba(235,103,67,1);
}

.data{
    width:285px;
    height:330px;
    margin:2px 2px 2px 2px;
    float:left;
}
.tenki{
	width:320px;
	height:330px;
	margin:2px 3px 2px 2px;
	float:right;
	background-color: rgba(68,132,195, 1);
}
.git{
	width:350px;
	height:330px;
	margin:2px 2px 2px 2px;
	float:right;
	background-color:rgba(220,90,74,0.8);
}

.acount{
	width:420px;
	height:330px;
	margin:2px 2px 2px 2px;
	float:right;
	text-align:left;
	padding:-100px;
	background-color: rgba(121,208,78, 1);

}
.list {
    width:330px;
    height:664px;
    margin:2px 35px 2px 2px;
    float:right;
	background-color:rgba(246, 157, 38, 1);
}

.sns{
	width:300px;
	height:40px;
	margin:2px 23px 2px 2px;
	padding:5px;
	float:left;
	border:2px soild #FFFFFF;
	text-align: left;
	letter-spacing:5px;
}

img.github{
	width:130px;
	margin:50px;
}

img.line{
	width:150px;
	margin:40px;
	float:left;
}

img.qr{
	width:130px;
	height:130px
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

table.tyoe01{
	border-collapse:collapse;
	text-align:left;
	line-height:1.5;
}


table.type01 th {
	width: 50px;
	padding: 5px;
	font-weight: hold;
	vertical-align: top;
}

table.type01 td {
	width: 100px;
	padding: 5px;
	vertical-align: top;
}


th.t1{
	width:70px;
	height:30px;
	text-align:center;
}

th.t2{
	width:200px;
	height:30px;
	text-align:center;
}


h1{
	font-size: 40px;
}

h2{
	font-size: 30px;
}

h3{
	font-size:20px;
}

h4{
	font-size:18px;
}

/* 切り替えボターーーーーーーーーーーーーーーーー*/
.waves-effect , waves-light , btn-large{
	width: 40px;
	height: 20px; 
	line-height: 20px;
	text-align:center;
	padding: 0px 0px 0px 0px;
	font-size: 8px;
}
