@charset "UTF-8";
/* CSS Document */
/*ページ全体ーーーーーーーーーーーーーーーーーー*/
body{
	background-color:rgba(5,68,90,1.0);
	color: #FFFFFF;
}

.main {
    width:1300px;
    height:600px;
	text-align:center;
	margin: 0px 20px;
	}

.name{
	width:430px;
	height:300px;
	margin:2px 2px 2px 2px;
	float:left;
	background-color: rgba(235,103,67,1);
}

.data{
    width:280px;
    height:300px;
    margin:2px 2px 2px 2px;
    float:left;
}
.tenki{
	width:280px;
	height:300px;
	margin:2px 3px 2px 2px;
	float:right;
}

.area{
	width:460px;
	height:300px;
	margin:2px 2px 2px 2px;
	float:right;
	background-color:#FFFFFF;
}

.list {
    width:260px;
    height:604px;
    margin:2px 35px 2px 2px;
    float:right;
	background-color:rgba(246, 157, 38, 1);
}

.sns{
	width:300px;
	height:40px;
	margin:2px 23px 2px 2px;
	float:left;
	border:2px soild #FFFFFF;
	text-align: left;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

table.tyoe01{
	border-collapse:collapse;
	text-align:left;
	line-height:1.5;
}


table.type01 th {
	width: 50px;
	padding: 5px;
	font-weight: hold;
	vertical-align: top;
}

table.type01 td {
	width: 100px;
	padding: 5px;
	vertical-align: top;
}


h1{
	font-size: 40px;
}

h2{
	font-size: 30px;
}

h3{
	font-size:20px;
}
h4{
	font-size:18px;
}

/* 切り替えボターーーーーーーーーーーーーーーーー*/
.waves-effect , waves-light , btn-large{
	width: 40px;
	height: 20px; 
	line-height: 20px;
	text-align:center;
	padding: 0px 0px 0px 0px;
	font-size: 8px;
}
